extends layoutAdmin
block adminContent
    .content
        .container-fluid
            .row
                .col-md-12
                    .card
                        if message != null
                            if message == "success"
                                h3.success Xoa thanh cong
                            else
                                h3.error #{message}
                        .add-element
                            a(href='/admin/addBenhan')
                                p Them benh an
                        .header
                            h4.title Danh sach dong gop y kien
                        .content.table-responsive.table-full-width
                            table.table.table-hover.table-striped
                                thead
                                    th Ma BN
                                    th Ma BA
                                    th Ngay nhap vien
                                    th Ngay xuat vien
                                    th Khoa phu trach
                                    th So giuong
                                    th Bac si phu trach
                                    th Y ta dieu duong
                                    th Edit
                                    th Delete
                                tbody
                                    each benhan in benhans
                                        tr
                                            td #{benhan.maBN}
                                            td #{benhan.maBA}
                                            td #{benhan.ngaynhapvien}
                                            td #{benhan.ngayxuatvien}
                                            td #{benhan.khoa}
                                            td #{benhan.giuongnam}
                                            td #{benhan.bacsichuatri}
                                            td #{benhan.ytatheodoi}
                                            td
                                                button.button-style Edit
                                            td
                                                button.button-delete( id = benhan._id) Delete
                            include ./popupdelete
